/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/log/*.log
/tmp
database.yml
settings.yml
secrets.yml
/vendor/assets/bower_components/*
/public/assets/*.*
/coverage/*
.ruby-version
.ruby-gemset
Gemfile.lock