*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
tmp
*.log
database.yml
settings.yml
secrets.yml
/coverage/*
.ruby-version
.ruby-gemset